body {
    background-color: white;
    margin: 2% 5%;
    font-family: "Gotham", 'Courier New', Courier, monospace;
    font-size: 17px;
    font-weight: 600;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    box-sizing: content-box;
    margin: 0 auto;
    width: 1350px;
    max-width: 100%;
    min-width: 400px;
    min-height: 500px;
    margin: 0 auto;
    overflow: hidden;
}

.container .nav-header {
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    justify-content: space-between;
    width: 90vw;
    height: fit-content;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 1em;
    padding-bottom:0.5em;
    display: inline-flex;
    text-align: center;
    top: 0;
    position: fixed;
}

.container .nav-header .nav-bar ul {
    display: flex;
    list-style-type: none;
}

.container .nav-header .nav-bar ul li {
    margin-left: 4em;
}

.container .nav-header .nav-bar a {
    text-decoration: none;
    color: inherit;
}

.container .nav-header .nav-bar a:hover, a:active{
    padding-bottom: 20px;
    border-bottom: 3px solid red;
    transition: 550ms cubic-bezier(0.4, 0, 0.2, 1);
}


.container .nav-header .nav-bar button {
    margin-left: 3.5em;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    color: white;
    border: none;
    background-color: red;
    padding: 13px 30px;
    border-radius: 0 0 10px 0;
}

.container .section-1 {
    margin-top: 150px;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    display: inline-flex;
    height: 50%;
}

.container .section-1 .text-1 {
    display: block;
    margin-top: 150px;
    width: fit-content;
}

.container .section-1 .text-1 .first-half {
    display: flex;
}

.container .section-1 .text-1 .first-half h1 {
    font-size: 2em;
    font-weight: bold;
}

.container .section-1 .text-1 .first-half span {
    color: rgb(238, 28, 0);
}

.container .section-1 .text-1 .first-half .thick1 img {
    display: inline-flex;
    position: absolute;
    left: 425px;
    top: 343px;
}

.container .section-1 .text-1 p {
    color: grey;
    margin-top: 20px;
    width: 444px;
    margin-bottom: 30px;
}

.container .section-1 .text-1 button:nth-last-child(2) {
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    color: white;
    border: none;
    background-color: red;
    padding: 13px 30px;
    margin: 0 auto;
    border-radius: 0 0 10px 0;
}

.container .section-1 .text-1 button:nth-last-child(1) {
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    color: white;
    border: none;
    background-color: rgb(51, 49, 49);
    padding: 13px 30px;
    margin-left: 10px;
    border-radius: 0 0 10px 0;
}



.container .section-1 .image-1 {
    margin-left: 30%;
    box-sizing: border-box;
    overflow: hidden;
}

.container .section-1 .image-1  img{
    width: 400px;
    display: block;
    height: auto;
}

.container .section-1 .image-1 .thick2 {
    display: inline-flex;
    position: absolute;
    left: 925px;
    top: 487px;
}